.markdown-section code, .markdown-section p.tip code {
  background-color: #999;
  color: #fff;
}

.sidebar, .app-nav {
  user-select: none;
}

.exercise .markdown-section code, .exercise .markdown-section p.tip code {
  color: #999;
}

.exercise .vue-diction-slot {
  display: none;
  user-select: none;
}

.exercise .vue-diction-symbol {
  user-select: none;
}

.app-nav {
  position: fixed;
}

.app-nav.app-nav.app-nav ul, .app-nav.app-nav.app-nav ul li {
  height: 45px;
  line-height: 45px;
  padding: 0 !important;
}

.vue-diction-symbol {
  display: inline-block;
  color: #999;
  margin: 0 3px;
}

.vocabulary {
  display: flex;
  flex-direction: column-reverse;
}

.vocabulary>div, .vocabulary>span {
  margin-bottom: 8px;
}