.markdown-section code, .markdown-section p.tip code {
  background-color: #999;
  color: #fff;
}

.exercise .markdown-section code, .exercise .markdown-section p.tip code {
  color: #999;
}

.app-nav {
  position: fixed;
}

.app-nav.app-nav.app-nav ul, .app-nav.app-nav.app-nav ul li {
  height: 45px;
  line-height: 45px;
  padding: 0 !important;
}
