.markdown-section code, .markdown-section p.tip code {
  background-color: #fff1f0;
  color: #820014;
}

.markdown-section strong {
  color: #820014;
}

.markdown-section p + ul, .markdown-section p + ol {
  margin-top: -1rem;
}

.sidebar, .app-nav {
  user-select: none;
}

.exercise .markdown-section code, .exercise .markdown-section p.tip code {
  color: transparent;
}

.exercise .markdown-section code:hover, .exercise .markdown-section p.tip code:hover {
  color: #fff;
}

.exercise .vue-diction-slot {
  display: none;
  user-select: none;
}

.exercise .vue-diction-symbol {
  user-select: none;
}

.app-nav {
  position: fixed;
}

.app-nav.app-nav.app-nav ul, .app-nav.app-nav.app-nav ul li {
  position: relative;
  height: 45px;
  line-height: 45px;
  padding: 0 !important;
}

.vue-diction-symbol {
  display: inline-block;
  color: #999;
  margin: 0 3px;
}

.vocabulary {
  display: flex;
  flex-direction: column-reverse;
}

.vocabulary>div, .vocabulary>span {
  margin-bottom: 8px;
}