.vocabulary-today .vue-diction-word {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.vue-diction-wrapper .vue-diction-icon .icon {
  top: 0.1rem;
}

@media screen and (max-width: 768px) {
  .vocabulary-today .vue-diction-wrapper {
    background-color: #fff;
    padding: 1.5rem 2rem;
  }
}
